body {
    background: #0C2939;
}  
main {
    background: white;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    
} 
.central {
    margin: 0 auto;
    width: 300px;
    background:rgb(88, 88, 88);
    padding: 20px;
    color: white;
}
#central-texto {
    text-align: center;
}
#left-texto {
    text-align: left;
}